@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

* {
	box-sizing: border-box;
  user-select: none;
}

html, body {
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
      color:#fff;
      background:#14171F
  }
}

body {
	margin: 0;
	padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: sans-serif;
}

a { text-decoration: none; }

button { cursor: pointer; }

.logo {
  font-family: 'Sirin Stencil', cursive;
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.header-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-gradient, li:hover {
  background-image: linear-gradient(to right, #00D9EB 0%, #00EBA9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
    border: 1px solid #00D9EB;
		transition: transform .5s;
		margin-top: 50px;
}
p {
  line-height: 30px;
  color: rgba(255, 255, 255, .8);
}
.box:hover {
  border: 1px solid #00EBA9;
  transform: scale(1.08);
}
.box:hover::before {
  border: 1px solid #00EBA9;
}
.box::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #00D9EB;
  transition: all .5s;
  transform: translate(-3%, -5%);
}
  
@tailwind base;
@tailwind components;
@tailwind utilities;
