@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

* {
	box-sizing: border-box;
  user-select: none;
}

html, body {
  overflow-x: hidden;
}

body {
  color:#fff;
  background:#100000;
	margin: 0;
	padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: sans-serif;
}

a { text-decoration: none; }

button { cursor: pointer; }

.logo {
  font-family: 'Sirin Stencil', cursive;
}

.text-gradient {
  background-image: linear-gradient(to right, #780b11 0%, #E50914 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-glassmorphism {
  background: rgba(21, 3, 4, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.login-glassmorphism {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
  
@tailwind base;
@tailwind components;
@tailwind utilities;
